/sbirka_prikladu/SPI - Sbirka prikladu.lyx~
/sbirka_prikladu/SPI - Sbirka prikladu.pdf
/skripta/SPI - Souhrn látky.pdf
/skripta/SPI - Souhrn látky.lyx~
/sbirka_prikladu/*.lyx#
/sbirka_prikladu/*.lyx~
